@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Sulphur+Point&display=swap');

:root {
    --mainColour: rgb(17,17,17);
    --contrastColour: rgb(204,204,204);
    --contrastColour--darker: rgb(90, 90, 90);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--contrastColour);;
    font-family: "Roboto";
    -webkit-transition: background-color 1000ms, color 1000ms, border 1000ms;
    -ms-transition: background-color 1000ms, color 1000ms, border 1000ms;
    transition: background-color 1000ms, color 1000ms, border 1000ms;
}

body {
    background-color: var(--mainColour);
}

::-webkit-scrollbar {
    width: 0.2em;
}

::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.1); 
}

::-webkit-scrollbar-thumb {
    background: var(--contrastColour);
    border-radius: 0.1em;
}

::-webkit-scrollbar-thumb:hover {
    /* Using a brightness filter was unreliable */
    background: var(--contrastColour--darker);;
}

.optionsBar {
    position: absolute;
    z-index: 2;
}

.light-mode-button {
    padding: 1em;
    background: None;
    border: None;
    cursor: pointer;
}

.dark-mode-button {
    padding: 1em;
    background: None;
    border: None;
    cursor: pointer;
}

.container {
    height: 100dvh;
    overscroll-behavior: none;
    overflow-y: hidden;
    padding: 3em;
}

.container__inner {
    position: relative;
    overflow-y: scroll;
    padding: 0;
    height: 100%;
    border: 1px solid var(--contrastColour);;
    scroll-snap-type: y mandatory;
}

.section-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    scroll-snap-align: start;
}

.cardContainer__title {
    margin: auto;
    font-size: 4em;
    font-weight: 300;
}

#particleExplosion {
    position: absolute;
    width: 100%;
    height: 200%;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 650px) {
    .cardContainer__title {
      font-size: 2em;
    }
  }